<div id="menu">
  <a class="item-menu" href="#">Home</a>
  <a class="item-menu" href="#">Produto</a>
  <a class="item-menu" href="#">Sobre nós</a>
  <a class="item-menu" href="#">Contato</a>
</div>

<div class = "produtos">
  <div class="produto" *ngFor="let produto of listaProdutos">
    <img [src] = "produto.imagem" alt="Doce de {{produto.nome}}" title="{{produto.nome}}">
    <p>Nome: {{ produto.nome }}</p>
    <p>Descricao: {{ produto.descricao }}</p>
    <p>Preço: R$ {{ produto.preco }} real</p>
    <button>Comprar</button>
    <button>Detalhes</button>
  </div>
</div>
