#menu{
    display: flex;
    justify-content: center;
}
.item-menu{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(0, 149, 160);
    font-family: 'Times New Roman', Times, serif;
}
.item-menu:hover{
    color: rgb(171, 245, 171);
}